<% provide(:title, 'Search for a table') %>
<%= render 'shared/arrow_scroll' %>

<% if logged_in? %>
	<div class="row" id="top">
		<%= link_to "Create a table!", tables_create_path, class: 'btn btn-success' %>
	</div>
<% end %>

<h1>Search for a table</h1>

<div class="row">
	<div class="col-md-6">
		<%= form_tag tables_path, :method => 'get' do %>
			<%= label_tag :keywords %>
			<%= text_field_tag :keywords, nil, class: 'form-control' %>

			<%= label_tag :cuisine %>
			<%= select_tag :cuisine, options_for_select(Table.uniq.pluck(:cuisine).sort), { include_blank: true,
				class: 'form-control' } %>

			<%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<div id="table_count">
	<p><%= @tables.count %> tables found!</p>
</div>

<div class="row" id="table-list">
	<%= render @tables %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>