<% provide(:title, 'Search for a table') %>
<h1>Search for a table</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag tables_path, :method => 'get' do %>
				<%= label_tag :cuisine %>
				<%= select_tag :search, options_for_select(Table.uniq.pluck(:cuisine).sort), { include_blank: true } %>

				<%= label_tag :region %>
				<%= select_tag :region , options_for_select(Table.uniq.pluck(:region).sort), { include_blank: true } %>		    	  
			<%= submit_tag "Search", :name => nil %>
		<% end %>
	</div>
</div>

<% if @tables %>
	<p>		
		<%= @tables.count %> results found
	</p>
<% end %>

<div class = "row">
  <% @tables.each do |table| %>
  <div class="col-sm-3">      	
  	<div class="table">
			<h4><%= link_to table.title, table %></h4>
			<p>
				Cuisine: <%= table.cuisine %><br />
				Region: <%= table.region %><br />
				User: <%= table.user.username %>
			</p>
		</div> 
	</div>
	<% end %>
</div>


