<% provide(:title, 'Search for a table') %>
<h1>Search for a table</h1>

<div class="row">
	<div class="col-md-6">
		<%= form_tag tables_path, :method => 'get' do %>
			<%= label_tag :cuisine %>
			<%= select_tag :search, options_for_select(Table.uniq.pluck(:cuisine).sort), { include_blank: true } %>

			<%= label_tag :region %>
			<%= select_tag :region , options_for_select(Table.uniq.pluck(:region).sort), { include_blank: true } %>		  
			<%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<div id="table_count">
	<p><%= @tables.count %> tables found!</p>
</div>

<div class="row" id="table-list">
	<%= render @tables %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>