<% provide(:title, "Create a table") %>

<h3>Create a table</h3>

<div class="row">
	<div class="col-md-6">
		<%= form_for(@table) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>

		<%= f.label :cuisine %>
		<%= select_tag :cuisine , options_for_select(Table.uniq.pluck(:cuisine).sort), { include_blank: true, 
			class: 'form-control' } %>		  

		<%= f.submit "Create my table", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>