<% provide(:title, 'Search for a table') %>
<h1>Search for a table</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<% form_for @search do |f| %>
	    <%= f.label :cuisine %><br />
	    <%= f.collection_select :table_id, Table.all, :id, :cuisine, :include_blank => true %>

	    <%= f.label :region %><br />
	    <%= f.collection_select :table_id, Table.all, :id, :region, :include_blank => true %>

	  	<%= f.submit "Find a table!"%>
		<% end %>
  </div>
</div>

<% form_tag tables_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
