<% provide(:title, @table.title) %>

<%= link_to gravatar_for(@user, size: 50), @user %>
<h4><%= @user.username %></h4>

<%= @table.title %><br />
<%= @table.cuisine %><br />

<% if @table.user == current_user %>
	<%= link_to "Clean up table", @table, method: :delete, data: { confirm: "You sure?" }, 
			class: 'btn btn-danger' %>
<% else %>
	<%= link_to "Leave table", tables_path, class: 'btn btn-primary' %> 
<% end %>

<%= render 'messages/form' %>
  <div class="panel panel-default" id="messages">
    <div class="panel-body">
      <ul class="media-list">
        <%= render @messages %>
      </ul>
    </div>
  </div>