<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.username, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
    data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>

<ol class="comments">
  <% if micropost.comments.any? %>
    <%= render micropost.comments %>
  <% end %>


  <div id="post-<%= micropost.id %>" >
    <div class="row" id="comments">
      <div class="panel-body">
        <ul class="media-list">
          <%= form_for @comment, remote: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
            <div class="col-md-9">
              <%= f.text_area :body, class: 'form-control', required: true, maxlength: 2000,
              placeholder: 'Enter your comment' %>
            </div>
            <%= f.hidden_field :micropost_id, :value => micropost.id %>
            <div class="col-md-2" id="commentSubmit">
              <%= f.submit "Submit", :name => nil, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>  
  </div>
</ol>